# Node & Next.js
PIRI-Avatar-Audio/fastRTC-app/frontend/node_modules/
PIRI-Avatar-Audio/fastRTC-app/frontend/.next/
PIRI-Avatar-Audio/fastRTC-app/frontend/out/
PIRI-Avatar-Audio/fastRTC-app/backend/.env
# Python
.venv/
__pycache__/
*.pyc
*.pyo
